@model SSOApp.Models.LoginModel

<div class="bs-callout bs-callout-danger">
    <p>Remember to login with <span class="text-info alert-info">kiandra/password</span> or create your own account (with the same username and password) on <a href="http://ssoapp.azurewebsites.net/">Site A</a>, <a href="http://ssoapp.apphb.net/">Site B</a> and the <a href="http://ssoapp-auth.azurewebsites.net/">Central Authentication Server</a>.</p>
</div>

<section id="loginForm" class="col-md-12">
    <h2 class="text-center">Login to your account</h2>
    @using (Html.BeginForm("Login", "ServerCA", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            @Html.HiddenFor(m => m.ReturnUrl)
            @Html.HiddenFor(m => m.SimpleSSOMethod)

            <div class="form-group">
                <label class="col-md-3 control-label" for="username">Username</label>
                <div class="col-md-6">
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control input-md", required = "" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label" for="passwordinput">Password</label>
                <div class="col-md-6">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control input-md", required = "" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label" for="checkboxes">Remember Me?</label>
                <div class="col-md-6">
                    <label class="checkbox-inline" for="checkboxes-0">
                        @Html.CheckBoxFor(m => m.RememberMe)
                    </label>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label" for="submit"></label>
                <div class="col-md-6">
                    <button id="submit" name="submit" class="btn btn-primary">Log In</button>
                </div>
            </div>
        </fieldset>
    }
</section>

