@using SSOApp.Service
@using SSOApp.Extensions

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/easyXDM")

    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("your logo here", "Index", "Home")</p>
                    @if (Html.IsAuthProvider())
                    {
                        <p>AUTH PROVIDER</p>
                        <a href="javascript:;" onClick="sessionStorage && sessionStorage.clear()">Clear Session Storage</a>
                    }
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                            <li><a href="@Html.OtherSiteUrl()">Click to the other site</a>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
                </div>
            </div>
        </footer>

        <!-- Approach 1 -->
        
        @if (User.Identity.IsAuthenticated && TempData["sso"] != null && (bool)TempData["sso"])
        {
            <img src="@Html.OtherSiteUrl()/Account/SingleSignOn?token=@SSOAuthenticationService.EncryptToken(User.Identity.Name)" />
            
            TempData.Remove("sso");
        }
        else
        { 
            if (User.Identity.IsAuthenticated && TempData["sso-auth"] != null) //talk to the auth site via an iframe
            {
                TempData.Remove("sso-auth");
            
                <script type="text/javascript">
                    var socket = new easyXDM.Socket({
                        remote: "@Html.AuthProviderSite()/SaveAuth",
                        onReady: function () {
                        }
                    });

                    socket.postMessage("@SSOAuthenticationService.EncryptToken(User.Identity.Name)");
                </script>
            }
        
            if (!User.Identity.IsAuthenticated) 
            {
                <script type="text/javascript">
                    var socket = new easyXDM.Socket({
                        remote: "@Html.AuthProviderSite()/GetAuth",
                        onMessage: function (msg, origin) {
                            debugger;
                            if (msg != null && msg != "null" && msg.length > 0) {
                                var url = '/Account/SingleSignOn?token=' + msg;
                                
                                $.ajax({
                                    type: "GET",
                                    url: url,
                                    success: function () {
                                        location.reload();
                                    }
                                });
                            }
                        },
                        onReady: function () {
                        }
                    });

                    socket.postMessage("Get Auth");
                </script>
            }
        }

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
